<!-- 圈子 -->
<div class="list_box _240" >
        <ul class="hd_ul">
            <li class="hd_lst cur" title="圈子话题">圈子话题</li>
            <li class="hd_lst" title="提供">圈子活动</li>
        </ul>
        <div class="list_cont">
            <div class="cont_one">
                <ul class="list_ul">
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">为房地产项目提供银行融资服务及住宅产业化BT建设服务</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">贵州万盛物流有限公司 室内仓库/露天堆场/商业门面/停车位出租</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">广东省中山市27000平方标准仓库出租</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">为房地产项目提供银行融资服务及住宅产业化BT建设服务</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">贵州万盛物流有限公司 室内仓库/露天堆场/商业门面/停车位出租</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">广东省中山市27000平方标准仓库出租</a></span></li>
                    <li class="list_lst"><span class="_ct"><i class="fa fa-commenting-o "></i><a href="javascript" class="_link">广东省中山市27000平方标准仓库出租</a></span></li>
                </ul>
            </div>
            <div class="cont_one" style="display: none;">2</div>
        </div>
    </div>
    <div class="mod_edi_but">
            <div class="chenga_name">
                <input type="text" placeholder="标题名称">
                <a>确定</a>
                <a>取消</a>
            </div>
            <ol>
                <li>
                    <a class="on">更名
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <p class="chenga_name_sel">
                        <span>社团动态</span>
                        <span>社团动态</span>
                        <span>社团动态</span>
                    </p>
                </li>
                <li>
                    <a class="modular_set pub_mask">设置</a>
                </li>
                <li>
                    <a class="chooseStyle">风格</a>
                </li>
                <li>
                    <a href="">加数据</a>
                </li>
            </ol>
        </div>
        <div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>