<div class="list_box _240">
        <p class="list_hd">文库</p>
        <div class="list_ul none_data_wrap">
            <div class="none_data">
                <i class="fa fa-file"></i>
                <p>暂无数据</p>
            </div>
        </div>
    </div>
    <div class="mod_edi_but">
        <div class="chenga_name">
            <input type="text" placeholder="标题名称">
            <a>确定</a>
            <a>取消</a>
        </div>
        <ol>
            <li>
                <a class="on">更名
                    <i class="fa fa-angle-up"></i>
                </a>
                <p class="chenga_name_sel">
                    <span>社团动态</span>
                    <span>社团动态</span>
                    <span>社团动态</span>
                </p>
            </li>
            <li>
                <a class="modular_set pub_mask">设置</a>
            </li>
            <li>
                <a class="clearMod">去除</a>
            </li>
            <li>
                <a href="">加数据</a>
            </li>
        </ol>
    </div>
    <div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
    <style>
        .none_data_wrap {
            position: relative;
        }
        .none_data {
            position: absolute;
            line-height: 26px;
            left: 50%;
            top: 50%;
            margin-left: -28px;
            margin-top: -30px;
            color: #999;
            text-align: center;
        }
        .none_data i.fa {
            font-size: 30px;
        }
    </style>