<!-- 版式风格 -->
<div class="alert_set al_3">
        <div class="alert_tit">版式风格<a class="close_sty post_cancel"><i class="fa fa-close"></i></a></div>
        <div class="tab_con">
            <div class="layout allStyle">
                <ul class="active" id="line_2_one" typesetting="0">
                    <li  data-layout-type="line_2_one_0">
                        <table>
                            <tr><td class="proportion_2_1 c_75b0fe"></td><td class="proportion_2_2 c_c4ddff"></td></tr>
                            <tr><td class="proportion_2_1 c_75b0fe borTop10"></td><td class="proportion_2_2 c_c4ddff borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li data-layout-type="line_2_one_1">
                        <table>
                            <tr><td class="proportion_7_1 c_c4ddff"></td><td class="proportion_7_2 c_75b0fe"></td></tr>
                            <tr><td class="proportion_7_1 c_c4ddff borTop10"></td><td class="proportion_7_2 c_75b0fe borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li data-layout-type="line_2_one_2">
                        <table>
                            <tr><td class="proportion_7_1 c_c4ddff"></td><td class="proportion_7_2 c_75b0fe" rowspan="2"></td></tr>
                            <tr><td class="proportion_7_1 c_c4ddff borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li data-layout-type="line_2_one_3">
                        <table>
                            <tr><td class="proportion_2_1 c_75b0fe" rowspan="2"></td><td class="proportion_2_2 c_c4ddff"></td></tr>
                            <tr><td class="proportion_2_2 c_c4ddff borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li data-layout-type="line_2_one_4">
                        <table>
                            <tr><td class="proportion_7_1 c_c4ddff" rowspan="2"></td><td class="proportion_7_2 c_75b0fe"></td></tr>
                            <tr><td class="proportion_7_2 c_75b0fe borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li data-layout-type="line_2_one_5">
                        <table>
                            <tr><td class="proportion_2_1 c_75b0fe"></td><td class="proportion_2_2 c_c4ddff" rowspan="2"></td></tr>
                            <tr><td class="proportion_2_1 c_75b0fe borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                </ul>
                <ul id="line_2_two" typesetting="0">
                    <li data-layout-type="line_2_two_0">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff" rowspan="2"></td>
                                <td class="proportion_4_2 c_75b0fe" rowspan="2"></td>
                                <td class="proportion_4_3 c_c4ddff"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_1">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff"></td>
                                <td class="proportion_4_2 c_75b0fe" rowspan="2"></td>
                                <td class="proportion_4_3 c_c4ddff" rowspan="2"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_2">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff"></td>
                                <td class="proportion_4_2 c_75b0fe" rowspan="2"></td>
                                <td class="proportion_4_3 c_c4ddff"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_3">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff"></td>
                                <td class="proportion_4_2 c_75b0fe"></td>
                                <td class="proportion_4_3 c_c4ddff"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                                <td class="proportion_4_2 c_75b0fe borTop10"></td>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_4">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff" rowspan="2"></td>
                                <td class="proportion_4_2 c_75b0fe"></td>
                                <td class="proportion_4_3 c_c4ddff" rowspan="2"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_2 c_75b0fe borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_5">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff" rowspan="2"></td>
                                <td class="proportion_4_2 c_75b0fe"></td>
                                <td class="proportion_4_3 c_c4ddff"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_2 c_75b0fe borTop10"></td>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_two_6">
                        <table>
                            <tr>
                                <td class="proportion_4_1 c_c4ddff"></td>
                                <td class="proportion_4_2 c_75b0fe"></td>
                                <td class="proportion_4_3 c_c4ddff" rowspan="2"></td>
                            </tr>
                            <tr>
                                <td class="proportion_4_3 c_c4ddff borTop10"></td>
                                <td class="proportion_4_2 c_75b0fe borTop10"></td>
                            </tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                </ul>
                <ul id="line_2_three" typesetting="0">
                    <li  data-layout-type="line_2_three_0">
                        <table>
                            <tr><td class="proportion_5_1 c_c4ddff" rowspan="2"></td><td class="proportion_5_2 c_75b0fe"></td></tr>
                            <tr><td class="proportion_5_2 c_75b0fe borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_three_1">
                        <table>
                            <tr><td class="proportion_5_1 c_c4ddff"></td><td class="proportion_5_2 c_75b0fe" rowspan="2"></td></tr>
                            <tr><td class="proportion_5_1 c_c4ddff borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                    <li  data-layout-type="line_2_three_2">
                        <table>
                            <tr><td class="proportion_5_1 c_c4ddff"></td><td class="proportion_5_2 c_75b0fe"></td></tr>
                            <tr><td class="proportion_5_1 c_c4ddff borTop10"></td><td class="proportion_5_2 c_75b0fe borTop10"></td></tr>
                        </table>
                        <p><span><i class="fa fa-plus"></i></span></p>
                    </li>
                </ul>
            </div>
    
        </div>
</div>