<!-- 方案 -->
<div class="alert_set al_2">
    <div class="alert_tit">方案</div>
    <div class="tab_con">
        <div class="tab_name nav-tabs">
            <p class="sea_tab1 on"><a data-toggle="tab">保存方案</a></p>
            <p class="sea_tab2"><a  data-toggle="tab">载入方案</a></p>
        </div>
        <div class="tab_info active" id="save_scheme">
            <table class="scheme_table">
                <tr>
                    <th class="wid300 padd_left32">方案名</th>
                    <th class="wid170">备份时间</th>
                    <th>操作</th>
                </tr>
                <tr class="bg_ffece6">
                    <td colspan="2">
                        <div class="name_edi">
                            <div class="name_input">
                                <input type="text" placeholder="输入新方案名称" class="new_programme">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="edi_scheme"><a class="cover_scheme wid130">保存方案</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="name_edi">
                            <p><a><i class="fa fa-edit"></i></a>首页名称A</p>
                            <div class="name_input" style="display:none;">
                                <input type="text">
                                <a class="b_1"><i class="fa fa-check"></i></a>
                                <a class="b_2"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </td>
                    <td class="fontSize12">2017-04-01 10:39:24</td>
                    <td>
                        <div class="edi_scheme"><a class="cover_scheme">覆盖</a><a class="del_scheme bg_283c50">删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="name_edi">
                            <p><a><i class="fa fa-edit"></i></a>首页名称A</p>
                            <div class="name_input" style="display:none;">
                                <input type="text">
                                <a class="b_1"><i class="fa fa-check"></i></a>
                                <a class="b_2"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </td>
                    <td class="fontSize12">2017-04-01 10:39:24</td>
                    <td>
                        <div class="edi_scheme"><a class="cover_scheme">覆盖</a><a class="del_scheme bg_283c50">删除</a></div>
                    </td>
                </tr>
            </table>
            <div class="page_table">
                <a>上一页</a>
                <input type="text" value="1">
                <a>下一页</a>
            </div>
            <div class="post_but"><a class="bg_999 post_cancel">关闭</a></div>
        </div>
        <div class="tab_info" id="loading_scheme">
            <table class="scheme_table">
                <tr>
                    <th class="wid300 padd_left32">方案名</th>
                    <th class="wid170">备份时间</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>
                        <div class="name_edi">
                            <p><a><i class="fa fa-edit"></i></a>首页名称A</p>
                            <div class="name_input" style="display:none;">
                                <input type="text">
                                <a class="b_1"><i class="fa fa-check"></i></a>
                                <a class="b_2"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </td>
                    <td class="fontSize12">2017-04-01 10:39:24</td>
                    <td>
                        <div class="edi_scheme"><a class="cover_scheme load_sch">载入</a><a class="del_scheme bg_283c50">删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="name_edi">
                            <p><a><i class="fa fa-edit"></i></a>首页名称A</p>
                            <div class="name_input" style="display:none;">
                                <input type="text">
                                <a class="b_1"><i class="fa fa-check"></i></a>
                                <a class="b_2"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </td>
                    <td class="fontSize12">2017-04-01 10:39:24</td>
                    <td>
                        <div class="edi_scheme"><a class="cover_scheme load_sch">载入</a><a class="del_scheme bg_283c50">删除</a></div>
                    </td>
                </tr>
            </table>
            <div class="page_table">
                <a>上一页</a>
                <input type="text" value="1">
                <a>下一页</a>
            </div>
            <div class="post_but"><a class="bg_999 post_cancel">关闭</a></div>
        </div>
    </div>
</div>