<div class="list_box _240">
        <p class="list_hd">标题</p>
        <ul class="list_ul template_0 clearfix">
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img">
                        <img src="images/template_bg.jpg" alt="" />
                    </div>
                    <div class="callText">
                        <span>名称字符五</span>
                    </div>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img">
                            <img src="images/template_bg.jpg" alt="" />
                    </div>
                    <div class="callText">
                        <span>名称字符五</span>
                    </div>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img">
                            <img src="images/template_bg.jpg" alt="" />
                    </div>
                    <div class="callText">
                        <span>名称字符五</span>
                    </div>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img">
                            <img src="images/template_bg.jpg" alt="" />
                    </div>
                    <div class="callText">
                        <span>名称字符五</span>
                    </div>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img">
                            <img src="images/template_bg.jpg" alt="" />
                    </div>
                    <div class="callText">
                        <span>名称字符五</span>
                    </div>
                </div>
            </li>
        </ul>
</div>
<div class="mod_edi_but">
    <div class="chenga_name">
        <input type="text" placeholder="标题名称">
        <a>确定</a>
        <a>取消</a>
    </div>
    <ol>
        <li>
            <a class="on">更名
                <i class="fa fa-angle-up"></i>
            </a>
            <p class="chenga_name_sel">
                <span>标题</span>
            </p>
        </li>
        <li>
            <a class="modular_set pub_mask">设置</a>
        </li>
        <li>
            <a class="chooseStyle">风格</a>
        </li>
        <li>
            <a href="">加数据</a>
        </li>
    </ol>
</div>
<div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
<style>
     .wid320 .template_0 .list_lst {
        padding: 20px 66px;
     }
     .wid480 .template_0 .list_lst,
     .wid485 .template_0 .list_lst {
        width: 50%;
        padding: 20px 24px;
    }
     .wid650 .template_0 .list_lst {
        padding: 20px 24px;
        width: 33.333333333333336%;
     }
    .wid730 .template_0 .list_lst {
        padding: 20px 30px;
        width: 33.333333333333336%;
    }
    .wid980 .template_0 .list_lst {
        width: 25%;
    }
    .template_0 .list_lst {
        border: none;
        margin-bottom: 20px;
        padding: 20px 45px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing:border-box;
    }
    .template_0 .list_lst ._cont {
        padding: 0;
        width: 100%;
        white-space: initial;
    }
    .template_0 .img {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        line-height: 200px;
        text-align: center;
        color: #9c9c9c;
        font-size: 40px;
        background-color: #ccc;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        overflow: hidden;
    }
    .template_0 .img img {
        width: 100%;
        height: 100%;
    }
    .template_0 .callText {
        width: 100%;
        text-align: center;
        overflow: hidden;
         text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    
</style>