<div class="list_box _240">
        <p class="list_hd">社团动态</p>
        <ul class="list_ul template_4 clearfix">
             <li class="list_lst">
                    <div class="top">
                        <a href="">
                            <div class="img">
                                <img src="images/template_bg.jpg" />
                            </div>
                            <div class="title">
                                <span>贵州万盛物流贵州万盛物流贵州万</span>
                            </div>
                        </a>
                    </div>
                    <div class="new_list">
                        <ul>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                        </ul>
                    </div>
            </li>
             <li class="list_lst">
                    <div class="top">
                        <a href="">
                            <div class="img">
                                <img src="images/template_bg.jpg" />
                            </div>
                            <div class="title">
                                <span>贵州万盛物流贵州万盛物流贵州万</span>
                            </div>
                        </a>
                    </div>
                    <div class="new_list">
                        <ul>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                        </ul>
                    </div>
            </li>
             <li class="list_lst">
                    <div class="top">
                        <a href="">
                            <div class="img">
                                <img src="images/template_bg.jpg" />
                            </div>
                            <div class="title">
                                <span>贵州万盛物流贵州万盛物流贵州万</span>
                            </div>
                        </a>
                    </div>
                    <div class="new_list">
                        <ul>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                        </ul>
                    </div>
            </li>
             <li class="list_lst">
                    <div class="top">
                        <a href="">
                            <div class="img">
                                <img src="images/template_bg.jpg" />
                            </div>
                            <div class="title">
                                <span>贵州万盛物流贵州万盛物流贵州万</span>
                            </div>
                        </a>
                    </div>
                    <div class="new_list">
                        <ul>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                            <li><a href="">贵州万盛物流贵州万盛物流贵州万</a></li>
                        </ul>
                    </div>
            </li>
        </ul>
</div>
<div class="mod_edi_but">
    <div class="chenga_name">
        <input type="text" placeholder="标题名称">
        <a>确定</a>
        <a>取消</a>
    </div>
    <ol>
        <li>
            <a class="on">更名
                <i class="fa fa-angle-up"></i>
            </a>
            <p class="chenga_name_sel">
                <span>社团动态</span>
            </p>
        </li>
        <li>
            <a class="modular_set pub_mask">设置</a>
        </li>
        <li>
            <a class="chooseStyle">风格</a>
        </li>
        <li>
            <a href="">加数据</a>
        </li>
    </ol>
</div>
<div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
<style>
    .template_4 .list_lst {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 10px;
        float: left;
        border: none;
        margin-bottom: 20px;
    }
    .template_4 .list_lst .top {
        margin-bottom: 28px;
    }
    .template_4 .list_lst .top a {
        width: 100%;
        height: 140px;
        display: block;
        position: relative;
    }
    .template_4 .list_lst .top .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.6);
        color: #fff;
        padding: 0 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .template_4 .list_lst .new_list {
        padding: 0 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .template_4 .list_lst .new_list li {
        margin-bottom: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .template_4 .list_lst .top .img,   .template_4 .list_lst .top .img img{
        width: 100%;
        height: 100%;
    }
    .wid480  .template_4 .list_lst {
        width: 50%;
    }
    .wid650  .template_4 .list_lst {
        width: 216.666666666666px;
    }
    .wid730  .template_4 .list_lst,
    .wid980  .template_4 .list_lst {
        width: 25%;
    }
</style>