
        <div class="field ">
            <div class="wid320">
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
            </div>
            <div class="wid320">
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
            </div>
            <div class="wid320">
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
                    <div class="line_2 edi addMod editing" dr_drag="1" dr_replace="1"><div class=addModT_sty><i></i><p>添加栏目</p></div><i class="drag"></i></div>
            </div>
            <div class="edi_line">
                <div class="layout_set">
                    <div class="layout">
                        <p class="new_layout">
                            <i class="fa fa-plus"></i>新增布局</p>
                        <p class="copy_layout">
                            <i class="fa fa-files-o"></i>复制布局</p>
                    </div>
                    <div class="up_down">
                        <p class="up">
                            <i class="fa fa-arrow-up"></i>
                        </p>
                        <p class="down">
                            <i class="fa fa-arrow-down"></i>
                        </p>
                    </div>
                </div>
                <div class="lay_hei">
                    <div class="hei_set">
                        <span>高度:</span>
                        <label>
                            <input type="radio" checked="" value="默认">
                            <i></i>默认</label>
                        <label>
                            <input type="radio" value="加高">
                            <i></i>加高</label>
                    </div>
                    <div class="lay_but">
                        <p class="changeLayout">换布局</p>
                        <p class="delMod">删除</p>
                    </div>
                </div>
            </div>
        </div>