<div class="list_box _240">
        <p class="list_hd">社团服务</p>
        <ul class="list_ul apply_0">
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img left mr10">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <div class="callText left">
                        <h3>申请入会</h3>
                        <div class="btn_group">
                            <a class="btn">点击申请</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont clearfix">
                    <div class="img left mr10">
                        <i class="fa fa-weixin"></i>
                    </div>
                    <div class="callText left">
                        <h3>在线缴会费</h3>
                        <div class="btn_group">
                            <a class="btn">点击缴费</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
</div>
<div class="mod_edi_but">
    <div class="chenga_name">
        <input type="text" placeholder="标题名称">
        <a>确定</a>
        <a>取消</a>
    </div>
    <ol>
        <li>
            <a class="on">更名
                <i class="fa fa-angle-up"></i>
            </a>
            <p class="chenga_name_sel">
                <span>社团服务</span>
            </p>
        </li>
        <li>
            <a class="modular_set pub_mask">设置</a>
        </li>
        <li>
            <a class="chooseStyle">风格</a>
        </li>
        <li>
            <a href="">加数据</a>
        </li>
    </ol>
</div>
<div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
<style>
    .apply_0 .list_lst {
        border: none;
        margin-bottom: 20px;
    }
    .apply_0 .img {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        color: #9c9c9c;
        font-size: 40px;
        border: 1px solid #eee;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .apply_0 .callText {
        width: 49%;
    }
    .apply_0 .callText h3 {
        width: 100%;
        font-weight: 400;
        height: 50px;
        padding-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }
    .apply_0 .callText .btn_group {
        width: 100%;
    }
    .apply_0 .callText .btn {
        width: 110px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: #c98c70;
        text-align: center;
        display: inline-block;
    }
    .apply_0 .img:hover i.fa  {
        color: #c98c70;
    }
    .wid240 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 105px;
        height: 105px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid240 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(2n+2) {
        margin-right: 0;
    }

    .wid320 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 20px;
        margin-right: 6px;
        width: 96px;
        height: 98px;
        margin-bottom: 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid320 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(3n+3) {
        margin-right: 0;
    }
    .wid320 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 20px;
        margin-right: 6px;
        width: 96px;
        height: 108px;
        margin-bottom: 6px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid320 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(3n+3) {
        margin-right: 0;
    }

    .wid480 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .wid480 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(4n+4) {
        margin-right: 0;
    }
    .wid480 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid480 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(4n+4) {
        margin-right: 0;
    }
    
    .wid650 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 32px;
        margin-bottom: 15px;
    }
    .wid650 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(5n+5) {
        margin-right: 0;
    }
    .wid650 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid650 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(5n+5) {
        margin-right: 0;
    }

    .wid730 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .wid730 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(6n+6) {
        margin-right: 0;
    }
    .wid730 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid730 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(6n+6) {
        margin-right: 0;
    }

    .wid980 .icon_ul_0 .line_1 {
        height: 180px;
    }
    .wid980 .icon_ul_2 .list_lst:first-child {
        padding-bottom: 0;
    }
    .wid980 .icon_ul_2 .list_lst {
        width: auto;
    }
    .wid980 .icon_ul_2 .list_lst:nth-child(n+1) {
        padding-top: 0;
        border-top: 0;
    }
</style>