<div class="list_box _240 _imgText_5">
        <p class="list_hd">捐赠项目</p>
        <ul class="list_ul img_ul">
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
            <li class="list_lst">
                <div class="_cont">
                    <div class="_lt">
                        <p class="_name">捐植树木</p>
                        <p class="_dt" title="爱心基金主要来 源于学校师生、 校友及社会各">爱心基金主要来 源于学校师生、 校友及社会各校友及社会各</p>
                    </div>
                    <img src="../index.jpg" class="_img_100 ml10"/>
                </div>
            </li>
        </ul>
    </div>
    <div class="mod_edi_but">
        <div class="chenga_name">
            <input type="text" placeholder="标题名称">
            <a>确定</a>
            <a>取消</a>
        </div>
        <ol>
            <li>
                <a class="on">更名
                    <i class="fa fa-angle-up"></i>
                </a>
                <p class="chenga_name_sel">
                    <span>社团动态</span>
                </p>
            </li>
            <li>
                <a class="modular_set pub_mask">设置</a>
            </li>
            <li>
                <a class="chooseStyle">风格</a>
            </li>
            <li>
                <a href="">加数据</a>
            </li>
        </ol>
    </div>
    <div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
    <style>
        .wid650 ._imgText_5 .img_ul .list_lst,
        .wid730 ._imgText_5 .img_ul .list_lst,
        .wid980 ._imgText_5 .img_ul .list_lst {
            width: 50%;
        }
        .wid650 ._imgText_5 .img_ul .list_lst ._lt {
            width: 63%;
        }
        .wid730 ._imgText_5 .img_ul .list_lst ._lt {
            width: 63%;
        }
        .wid980 ._imgText_5 .img_ul .list_lst ._lt {
            width: 76%;
        }
        .wid240 ._imgText_5 .img_ul .list_lst,
        .wid320 ._imgText_5 .img_ul .list_lst,
        .wid480 ._imgText_5 .img_ul .list_lst,
        .wid485 ._imgText_5 .img_ul .list_lst {
            width: 100%;
        }
        .wid240 ._imgText_5 .img_ul .list_lst ._lt {
            width: 50%;
        }
        .wid320 ._imgText_5 .img_ul .list_lst ._lt {
            width: 63%;
        }
        .wid480 ._imgText_5 .img_ul .list_lst ._lt,
        .wid485 ._imgText_5 .img_ul .list_lst ._lt {
            width: 76%;
        }
    </style>