<div class="list_box _240">
    <p class="list_hd">捐赠途径</p>
    <ul class="list_ul icon_ul_0">
        <li class="list_lst">
            <div class="_cont clearfix">
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_1"></p>
                    <i class="_tip">在线捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_2"></p>
                    <i class="_tip">物品捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_1"></p>
                    <i class="_tip">在线捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_2"></p>
                    <i class="_tip">物品捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_1"></p>
                    <i class="_tip">在线捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_2"></p>
                    <i class="_tip">物品捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_1"></p>
                    <i class="_tip">在线捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_2"></p>
                    <i class="_tip">物品捐赠</i>
                </div>
            </div>
        </li>
        <!-- <li class="list_lst">
            <div class="_cont">
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_3"></p>
                    <i class="_tip">预约捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_4"></p>
                    <i class="_tip">银行捐款</i>
                </div>
            </div>
        </li>
        <li class="list_lst">
            <div class="_cont">
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_1"></p>
                    <i class="_tip">在线捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_2"></p>
                    <i class="_tip">物品捐赠</i>
                </div>
            </div>
        </li>
        <li class="list_lst">
            <div class="_cont">
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_3"></p>
                    <i class="_tip">预约捐赠</i>
                </div>
                <div class="_img_100 mr10">
                    <p class="img_60 com_icon icon_4"></p>
                    <i class="_tip">银行捐款</i>
                </div>
            </div>
        </li> -->
    </ul>
</div>
<div class="mod_edi_but">
    <div class="chenga_name">
        <input type="text" placeholder="标题名称">
        <a>确定</a>
        <a>取消</a>
    </div>
    <ol>
        <li>
            <a class="on">更名
                <i class="fa fa-angle-up"></i>
            </a>
            <p class="chenga_name_sel">
                <span>社团动态</span>
            </p>
        </li>
        <li>
            <a class="modular_set pub_mask">设置</a>
        </li>
        <li>
            <a class="chooseStyle">风格</a>
        </li>
        <li>
            <a href="">加数据</a>
        </li>
    </ol>
</div>
<div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>
<style>
    .wid240 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 105px;
        height: 105px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid240 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(2n+2) {
        margin-right: 0;
    }

    .wid320 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 20px;
        margin-right: 6px;
        width: 96px;
        height: 98px;
        margin-bottom: 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid320 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(3n+3) {
        margin-right: 0;
    }
    .wid320 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 20px;
        margin-right: 6px;
        width: 96px;
        height: 108px;
        margin-bottom: 6px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .wid320 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(3n+3) {
        margin-right: 0;
    }

    .wid480 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .wid480 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(4n+4) {
        margin-right: 0;
    }
    .wid480 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid480 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(4n+4) {
        margin-right: 0;
    }
    
    .wid650 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 32px;
        margin-bottom: 15px;
    }
    .wid650 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(5n+5) {
        margin-right: 0;
    }
    .wid650 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid650 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(5n+5) {
        margin-right: 0;
    }

    .wid730 .line_1 .icon_ul_0 .list_lst ._img_100 {
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .wid730 .line_1 .icon_ul_0 .list_lst ._img_100:nth-child(6n+6) {
        margin-right: 0;
    }
    .wid730 .line_2 .icon_ul_0 .list_lst ._img_100 {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wid730 .line_2 .icon_ul_0 .list_lst ._img_100:nth-child(6n+6) {
        margin-right: 0;
    }

    .wid980 .icon_ul_0 .line_1 {
        height: 180px;
    }
    .wid980 .icon_ul_2 .list_lst:first-child {
        padding-bottom: 0;
    }
    .wid980 .icon_ul_2 .list_lst {
        width: auto;
    }
    .wid980 .icon_ul_2 .list_lst:nth-child(n+1) {
        padding-top: 0;
        border-top: 0;
    }
</style>