    <!-- 问卷调查 -->
    <div class="list_box _240">
            <p class="list_hd">问卷调查</p>
            <ul class="list_ul">
                <li class="list_lst que_box">
                    <div class="_cont">
                        <p class="que_name">上班族如何平衡工作与生活调查</p>
                        <div class="que_cont">
                            <p class="_name">创建人：伟盼秋</p>
                            <a href="javascript:void(0)" class="_btn btn_primary btn_mid">我要参与</a>
                            <p class="_count">已有<i class="num">10</i>人参与</p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
    <div class="mod_edi_but">
        <div class="chenga_name">
            <input type="text" placeholder="标题名称">
            <a>确定</a>
            <a>取消</a>
        </div>
        <ol>
            <li>
                <a class="on">更名
                    <i class="fa fa-angle-up"></i>
                </a>
                <p class="chenga_name_sel">
                    <span>社团动态</span>
                    <span>社团动态</span>
                    <span>社团动态</span>
                </p>
            </li>
            <li>
                <a class="modular_set pub_mask">设置</a>
            </li>
            <li>
                <a class="chooseStyle">风格</a>
            </li>
            <li>
                <a href="">加数据</a>
            </li>
        </ol>
    </div>
    <div class="remove"><a class="clearMod">去除</a></div><i class="drag"></i>